@import '~bootstrap/scss/bootstrap';


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    color: black;

   .up-nav{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    background-color: blue;
    width: 100%;
    color: white;
    padding-right: 200px;
    font-weight: bold;
   }


    .my-container{

        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 100px;
        margin: 0 auto;

        .img-container{
            width: 100px;
            height: 100%;
            padding: 20px;
    
            img{
                height: 100%;
            }
        }
    
        ul{
            display: flex;
            flex-grow: 1;
            justify-content: space-around;
            height: 100%;
           li{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            font-weight: bold;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            text-transform: uppercase;
            
            &:hover{
                color: blue;
                border-bottom: 4px solid blue;
                }
                
           }    
        }

        .input-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            input{
                text-align: right;
                border: none;
                border-bottom: 2px solid blue;
                outline: none;
            }
        }

    }   
    
    .jumbo-container{
        position: relative;
        width: 100%;
        height: 400px;
        
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    
        .series{
            
            position: absolute;
            bottom: -20px;
            left: 220px;
            font-size: 1.5em;
            font-weight: bold;
            background-color: #0282f9;
            color: white;
            padding: 2px 20px;
            text-transform: uppercase;
        }
    }
}

main{

    .card-container{
        width: calc(100% / 6 - (40px / 6 * 5));
        
        
    
        
        
        
        .thumb-container{
            width: 100%;
            height: 200px;
            cursor: pointer;
            
    
            img{
               
               width: 100%;
               height: 100%; 
               object-fit: cover;
               object-position: top;
               
            }
        }
    
        .cardTitle{
            padding: 15px 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
